* {
    box-sizing: 0;
    margin: 0;
}

a { text-decoration: none;
list-style-type: none;}


:root {
   --Fuchsia: #FF00FF;
   --litghseagree: #20B2AA;

}

.logo-inicio img {
    max-width: 100%;
    max-height: 125px;
    display: flex;
    margin: auto;
    padding: 180px;
}

.logo-inicio {
    margin-bottom: -90px;
    
}

.logo-inicio1 img {
    width: 100px;
    height: 100px;
   padding: 10px;
   margin-left: 80px;
}

.corpo-site {
    background-image: url(tablet1.png);
    background-position: center;
    background-size: 800px;
    background-repeat: no-repeat;
    background-position-y: 50px;
}

.sobre-inicio {
    text-align: center;
    padding: 10px;
    width: 500px;
    margin: auto;
}

.fundo-inicio {
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.titulo-inicio {
    text-align: center;
    width: 500px;
    
    margin: auto;
   
}

.botao-login {

        background-color: #FFC107;
        color: #fff;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        transition: transform 0.5s ease;
    }
    
    .botao-sobre {
        background-color: #FFC107;
        color: #fff;
        
        text-align: center;
        text-decoration: none;
        
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        transition: 0.5s ease;
    }

    .botao {
        color: #fff;
    }

    .botao-login:hover{
        transform: rotate(360deg);
    }

    .botao-sobre:hover {
        transform: rotate(360deg);
    }

    .botao-div:hover {
        transform: rotate(360deg);  
    }

.botao-div {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
}

.botao-div1 {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.botao-sobre-teste {
    background-color: #FFC107;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .botao:hover {
      animation: none;
  }
  
